{block #content}
	<header>
		<div class="container">
			<div class="heading">
				<h1>Ing. Vladimír Nedvěd</h1>
				<h3>MAKLÉŘ PRO Prahu 6 a okolí</h3>
			</div>

			<img src="{$basePath}/dist/img/vlada01.png" alt="Ing. Vladimír Nedvěd - Makléř pro Prahu 6 a okolí">
		</div>
	</header>

	<section>
		<div class="container">
			<h1>Nadpis služby</h1>
		</div>
	</section>
{/block}
